<form action="/create" method="POST">
    <h2>Create a new todo</h2>
    <div class="input-field">
        <input type="text" placeholder="Todo title" name="title">
    </div>

    <button type="submit" class="btn">Create</button>
</form>